body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0%;
  margin: 0%;
  background-color: rgba(232, 241, 235, 0.5);
}

.heading {
  text-align: center;
  font-size: 2rem;
}

.forms {
  display: flex;
  justify-content: space-around;
}

input {
  outline: none;
  border: 0px;

  margin-left: 7px;
  height: 25px;
  padding-left: 10px;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.color-light {
  color: white;
}

label {
  font-weight: bold;
}

.colors {
  margin-top: 70px;
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}

.alert {
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.each-color {
  padding-left: 10px;
  cursor: pointer;
}

.converter {
  text-align: center;
  width: 300px;
  height: 150px;
  border: 4px solid rgb(80, 74, 74, 0.4);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (min-width: 900px) {
  .converter {
    position: absolute;
    right: 30px;
    top: 10px;
  }
}

.converter-box {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.btn {
  background-color: honeydew;
  border: ridge;
  cursor: pointer;
}
